/* body color */

body {
    background-color: #fff !important;
}

body::before {
    content: '';
    background-image: url('testata-wip.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 15vh;
    display: block;
}

@page {
    size: auto !important;
    margin: 20px !important;
}

/* /body color */

/* tag font and colors */

h1,
h2,
h3,
h1 span,
h2 span,
h3 span {
    color: #bf2d2d !important;
    font-family: 'Rozha One', serif !important;
    font-weight: normal !important;

}

h4 {
    color: #000 !important;
    font-family: 'Montserrat', serif !important;
}

div,
p,
li {
    font-family: 'Montserrat', serif !important;
    font-size: 12px !important;
}

/* /tag font and colors */

/* heading font sizes & alignments */

h1 {
    font-size: 25px !important;
    text-align: left !important;
}

h2 {
    font-size: 17px !important;
}

h3 {
    font-size: 14px !important;
}

h4 {
    font-size: 12px !important;
}

/* /heading font sizes & alignments */

/* unordered list */

/* 1st level list */
.ql-rendered-list-container .ql-rendered-bullet-list:before {
    font-size: 33px !important;
    line-height: 0.4em !important;
}

/* 2nd level list */
.ql-rendered-list-container .ql-rendered-bullet-list>.ql-rendered-list-container .ql-rendered-bullet-list:before {
    content: '⚬' !important;
    font-size: 13px !important;
    line-height: 1.3em !important;
}

.cu-editor li:not(.ql-direction-rtl):before {
    margin-left: -20.7px !important;
}

/* 3rd level list */

.ql-rendered-list-container .ql-rendered-bullet-list>.ql-rendered-list-container .ql-rendered-bullet-list>.ql-rendered-list-container .ql-rendered-bullet-list:before {
    content: '▪' !important;
    font-size: 16px !important;
}

/* /unordered list */

/*table width */
.clickup-table {
    width: auto !important;
}